apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: default
spec:
  template:
    spec:
      containers:
        - image: {{ .RemoteTag }}
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: app-config
