apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: default
spec:
  template:
    spec:
      {{ if ne .RegistrySecret "" }}
      imagePullSecrets:
        - name: {{ .RegistrySecret }}
      {{ end }}
      containers:
        - image: {{ .RemoteTag }}
          imagePullPolicy: Always
