apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: default
  {{ if not .IsPublicService }}
  labels:
    networking.knative.dev/visibility=cluster-local
  {{ end }}
spec:
  template:
    spec:
      imagePullSecrets:
      {{ range .ImagePullSecrets  }}
        - name: {{ . }}
      {{ end }}
      containers:
        - image: {{ .RemoteTag }}
          imagePullPolicy: Always
