# This file is generate by https://github.com/nearform/initium-cli
name: Deploy on PR

on:
 pull_request:
   types: [opened, synchronize, reopened, closed]

permissions:
  contents: read
  packages: write
  pull-requests: write

jobs:
  on_pr:
    if: github.event.action != 'closed'
    concurrency: {{ `${{ github.head_ref }}` }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: {{ `${{ github.head_ref }}` }}

      - name: build and deploy application
        uses: docker://ghcr.io/nearform/initium-cli:latest
        id: deploy
        with:
          args: onbranch
        env:
          INITIUM_REGISTRY_USER: {{ `${{ github.actor }}` }}
          INITIUM_REGISTRY_PASSWORD: {{ `${{ secrets.GITHUB_TOKEN }}` }}
          INITIUM_CLUSTER_ENDPOINT: {{ `${{ secrets.CLUSTER_ENDPOINT }}` }}
          INITIUM_CLUSTER_TOKEN: {{ `${{ secrets.CLUSTER_TOKEN }}` }}
          INITIUM_CLUSTER_CA_CERT: {{ `${{ secrets.CLUSTER_CA_CERT }}` }}

      - name: comment URL on the PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          comment_tag: initium_deploy_url
          message: |
            This Pull Request was deployed to your cluster! 🎉

            | Commit SHA: | {{ `${{ github.event.pull_request.head.sha }}` }} |
            |-------------|----------|
            | Commit time:  | {{ `${GITHUB_SHA::8}` }} |
            | URL:        | {{ `${{ steps.deploy.outputs.INITIUM_OUTPUT_URL }}` }} |

  closed_pr:
    if: github.event.action == 'closed'
    concurrency: {{ `${{ github.head_ref }}` }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
    
      - name: delete application
        uses: docker://ghcr.io/nearform/initium-cli:latest
        with:
          args: onbranch --clean --branch-name {{ `${{ github.head_ref }}` }}
        env:
          INITIUM_REGISTRY_USER: {{ `${{ github.actor }}` }}
          INITIUM_REGISTRY_PASSWORD: {{ `${{ secrets.GITHUB_TOKEN }}` }}
          INITIUM_CLUSTER_ENDPOINT: {{ `${{ secrets.CLUSTER_ENDPOINT }}` }}
          INITIUM_CLUSTER_TOKEN: {{ `${{ secrets.CLUSTER_TOKEN }}` }}
          INITIUM_CLUSTER_CA_CERT: {{ `${{ secrets.CLUSTER_CA_CERT }}` }}

