# This file is generate by https://github.com/nearform/k8s-kurated-addons-cli
name: Build and Push

on: 
  push:
    branches:
      - {{ .DefaultBranch }}

jobs:
  cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build docker image application
        uses: docker://ghcr.io/nearform/k8s-kurated-addons-cli:latest
        with:
          args: build
        env:
          KKA_APP_NAME: {{ .AppName }}

      - name: push docker image application
        uses: docker://ghcr.io/nearform/k8s-kurated-addons-cli:latest
        with:
          args: push
        env:
          KKA_APP_NAME: {{ .AppName }}
          KKA_REPO_NAME: {{ .Repository }}
          KKA_REGISTRY_USER: {{ `${{ github.actor }}` }}
          KKA_REGISTRY_PASSWORD: {{ `${{ secrets.GITHUB_TOKEN }}` }}
